body{
	background-color: #E0FFFF;


}

p {
	text-align: center;
}

u{
	color:  #000080	;
}

#imagem {width: 100%;
	border: 3px solid black;

}

.listaBandas {
	color: yellowgreen;
	font-size: 30px;
	background: navy;
}